/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-home {
    background-color: aqua;
}

.navbar-home .logo img{
    width: 75px; height: 75px;
    border-radius: 50%;
    margin: 10px;
}

.navbar-home .logo label {
    
} */


/* --------------- Halaman resep */

.material-symbols-outlined {
    font-size: 10rem;
    color: #A87676;
    
   
}

.NASI{
    color: #A87676;
    margin-top: -45px; 
    margin-left: 50px; 
    font-size: 20px;
}     

.imgcl img{
    /* position: absolute; */
    width: 250px;
    height: 250px;
    margin-top: 30px;
}

.p1{
    font-size: 15px;
    margin-top: -260px;
    margin-left: 260px;
    text-align: justify;
    /* font-family: sans-serif; */
}

.p2{
    font-size: 15px;
    
}

.horizontal-line {
    border-top: 5px solid #A87676; 
    margin: 60px 0;
} 

.kotakkResep {
    position: relative;
}

.tumpukan1 {
    background-color: #A87676;
    position: relative;
    width: 338.5px;
    height: 400px;
    /* z-index: 1; */
    right: -44rem;
    top: 1rem;
}

.kolom1 {
    background-color: #FFE8B6;
    position: relative;
    width: 600px;
    height: 400px;
    right: -20rem;
    top: -21rem;
    /* height: 338.5; */
}   

.resep{
    padding-top: 10px;

}

.judul{
    padding-top: 100px;
    margin-left: 70px;
}

.lingkaran {
    width: 50px;         
    height: 50px;        
    background-color: #fef4f4; 
    border-radius: 50%;   
    margin-top: -280px;
    margin-left: 10px;
} 

.horizontal-line2 {
    border-top: 5px solid #A87676; 
    margin: 12px 0;
}