body {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ISI */

.Kolom {
    padding: 50px;
    margin: 100px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    min-width: 85rem;
    max-width: 85rem;
}

.Kolom img {
    width: 220px;
    margin-top: -200px;
    border-radius: 20px;
}

.nama {
    color: #004292;
    font-size: 2rem;
    margin-left: 250px;
}

.job {
    font-size: 22px;
    margin-left: 250px;
}

.garis {
    width: 100%;
    border-top: 3.5px solid #000000;
    opacity: 100%;
    margin: 10px 0;
    margin-left: 250px;
    width: 80%;
}

.bio {
    font-size: 1.5rem;
    margin: 10px 0;
    margin-left: 250px;
}

.sosmed {
    font-size: 1.5rem;
    color: rgb(85, 85, 85);
    font-weight: 700;
    margin-left: 250px;
}

/* ------- */

.futerawal{
    position: relative;
    top: 20rem;
    width: 100%;
    height: 20rem;
    background-color: #A87676;
}

.judulsk1 {
    position: absolute;
    top: 20px;
    left: 120px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

.kalimat1 img {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 80px;
    width: auto;
    border-radius: 100%;
}

.desk1 {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 30rem;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

.linkcredit {
    position: absolute;
    top: 16.5rem;
    left: 20px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

/* -------- */

.judulsk2 {
    position: absolute;
    top: 20px;
    right: 180px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

.desk2 {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 30rem;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

/* ------- */

.futerakhir {
    position: relative;
    top: 20rem;
    background-color: #FFE8B6; 
    width: 100%;
    height: 50px;
}

.futerakhir h2 {
    position: absolute;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 100%;
    top: -9px;
    color: #505050;
}

.foodbg {
    position: relative;
    width: 100%;
    top: 25rem;
}