/* FOOTER */
.footer {
    top: 5rem; /*TOP UTAMA DIV*/

    position: absolute;
    width: 100%;
    height: 44rem;
}

.fbgimage {
    position: relative;
    width: 100%;
}



.footerutm {    
    position: relative;
    top: -80px;
    height: 20rem;
    background-color: #A87676;
}

.flogo-text {
    position: relative;
    top: 15px;
    left: 15px;
    height: 300px;
    width: 400px;
}

.flogo {
    width: 80px;
    height: auto;
    border-radius: 100%;
}

.ftext {
    position: relative;
    top: -65px;
    left: 100px;
    color: aliceblue;
    width: 18.5rem;
}

.fdesklmt1 {
    position: relative;
    top: -50px;
    width: 600px;
    font-size: 22.6px;
    color: aliceblue;
}

.fcredit {
    position: relative;
    top: -58px;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
    color: #303A89;
}



.fabout {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 500px;
    height: 300px;
    color: aliceblue;
}

.fabout h1 {
    position: relative;
    text-align: center;
    top: 20px;
}

.fabout h3 {
    position: relative;
    top: 35px;
    font-size: 22.6px;
}



.footerakhr {
    position: relative;
    top: -80px;
    height: 3.5rem;
    background-color: #FFE8B6;
}

.footerakhr h2 {
    position: relative;
    width: 100%;
    top: 5px;
    color: #505050;
    text-align: center;
}