/* ------- */

.futerawal{
    position: relative;
    top: 20rem;
    width: 100%;
    height: 20rem;
    background-color: #A87676;
}

.judulsk1 {
    position: absolute;
    top: 20px;
    left: 120px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

.kalimat1 img {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 80px;
    width: auto;
    border-radius: 100%;
}

.desk1 {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 30rem;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

.linkcredit {
    position: absolute;
    top: 16.5rem;
    left: 20px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

/* -------- */

.judulsk2 {
    position: absolute;
    top: 20px;
    right: 180px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

.desk2 {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 30rem;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

/* ------- */

.futerakhir {
    position: relative;
    top: 20rem;
    background-color: #FFE8B6; 
    width: 100%;
    height: 50px;
}

.futerakhir h2 {
    position: absolute;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 100%;
    top: -9px;
    color: #505050;
}

.foodbg {
    position: relative;
    width: 100%;
    top: 25rem;
}