* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.background {
    /* background-color: aquamarine; */
    position: relative;
    
}

.background img {
    width: 100%;
}

.identitas img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 12px;
    position: absolute;
    top: 0;
    left: 0;
}

.identitas label {
    font-size: 18px;
    font-weight: 600;
    color: white;
    top: 35px;
    left: 95px;
    position: absolute;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    margin: 26px;
    z-index: 1;
    font-size: 30px;
    transition: transform 0.3s ease;
    position: absolute;
    right: 0;
    top: 0;
}

.side-menu {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #3b82f6;
    transition: left 0.3s ease;
}

.side-menu ul {
    list-style: none;
    padding-top: 50px;
}

.side-menu ul li {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.side-menu ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu ul li a i {
    margin-right: 10px;
}

.side-menu.open {
    left: 0;
}

.hamburger.active i {
    transform: rotate(45deg);
}

.hamburger.active i::before {
    content: '\f00d';
}

.search-container {
position: absolute;
display: flex;
align-items: center;
top: 20rem;
left: 30rem;
}

.search-input {
padding: 10px 35px 10px 15px; /* Menambahkan ruang untuk ikon */
font-size: 16px;
border: 2px solid #ccc;
border-radius: 15px;
width: 400px;
height: 4rem;
}

.search-icon {
position: absolute;
left: 0;
color: #888;
font-size: 18px;
pointer-events: none; /* Agar ikon tidak mengganggu klik input */
}

.search-input:focus {
outline: none;
border-color: #4CAF50;
}

.search-input::placeholder {
color: #aaa;
}

.juduls {
    position: absolute;
    top: 15rem;
    left: 28rem;
    color: aliceblue;
    font-size: 70px;
}

.promosi {
    position: relative;
    top: 5rem;
}

.promosi img {
    position: absolute;
    left: 13rem;
    height: 500px;
    width: auto;
}

.grskhatulistiwa {
    position: relative;
    width: 100%;
    border-top: 5px solid #A87676;
    opacity: 100%;
    width: 100%;
    top: 41rem;
}