* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.card {
    background-color: #DFD4C1;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display: inline-block;
    box-shadow: 5px 7px 15px 0px rgba(0, 0, 0, 0.6);
    transition: .5s ease;
}

.card:hover {
    transform: translateY(-20px) scale(1);

}

.card a:hover {
    color: #A87676;
    font-weight: bold;
}

.card:active {
    transform: translateY(-5px) scaleX(1.1);
    box-shadow: 10px 10px 15px 0px rgba(122, 96, 96, 0.5) inset;
}

.card a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    line-height: 150px;
    color: white;
    font-size: 20px;
}

.wrap-kategori {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 20em;
}

.text {
    font-size: 35px;
    text-align: center;
}

.text h3 {
    color: #A87676;
}

.text h3 span {
    color: #A69373;
}

.container-resep {
    margin-top: 100px;
}

.wrap-resep {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    width: 300px;
    height: 400px;
    background-color: #DFD4C1;
    position: relative;
    border-radius: 25px;
    box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.7);
    display: inline-block;
    filter: grayscale(100%) opacity(35%);
    transition: 400ms all ease;
}

.box .gambar img {
    width: 229px;
    height: 155px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.box .nama {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 190px;
    padding-left: 20px;
}

.box .deskripsi {
    position: absolute;
    left: 0;
    top: 235px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.box .rating {
    position: absolute;
    bottom: 25px;
    left: 0;
    padding-left: 30px;
    font-size: 30px;
}

.box .rating i {
    color: yellow;
}

.box:hover {
    filter: grayscale(0%) opacity(100%);
}