* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 100%;
    margin: auto;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
}

.card {
    padding: 20px 20px 20px;
    display: flex ;
    background: #f8d6d6;
    margin: 50px auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

 .card  img {
    width: 150px;
    height: 150px;
    object-fit: fill;
    position: center;
}

.card .Konten {
    padding: 30px;
}

.card {
    font-size: 25px;
    margin-bottom: 10px;
    position: relative;
}

  h3 {
    font-size: 25px;
    margin-bottom: 10px;
    position: relative;
    object-fit: cover;
}

.row {
    display: flex;
    justify-content: center;
    /* gap: 50px; */
    margin-top: 20px;
    flex-wrap: wrap;
}

.column {
    /* flex: 1; */
    min-width: 280px;
}

.war1{
    color: #A87676;
    position: relative;
    left: 10rem;


}

.war2{
    color: #DFD4C1;
    position: relative;
    left: 1rem;
}


/* .TempatDanTanggal {
    font-size: 12px;
    color: gray;
} */

.well{
    position: relative;
    left: 55rem;
    top: 40px;
    color:#A87676 ;
    text-decoration: none;
}