* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* .container {
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
} */

h2, h3 {
    color: #A87676;
    margin-bottom: 10px;
    font-weight: bold;
}

.box {
    background: #f8f8f8;
    padding: 12px;
    border-radius: 7px;
    margin: 35px auto;
    border: 1px solid #A87676;
    display: inline-block;
    min-width: 280px;
    font-weight: bold;
    transition: .3s ease;
    box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.5);
}

.utama {
    font-size: 18px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    min-width: 280px;

}

.box:hover {
    transform: translateY(-10px) scale(1.10);
    cursor: pointer;
}

/* ------- */

.futerawal{
    position: relative;
    top: 20rem;
    width: 100%;
    height: 20rem;
    background-color: #A87676;
}

.judulsk1 {
    position: absolute;
<<<<<<< HEAD
    top: 35px;
    left: 120px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
=======
    top: 40px;
    left: 120px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
>>>>>>> d905d6b3fcdf0b15c5afb54cbd4a0c3a88c86d69
}

.kalimat1 img {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 80px;
    width: auto;
    border-radius: 100%;
}

.desk1 {
<<<<<<< HEAD
    position: absolute;
    top: 115px;
    left: 20px;
    width: 55rem;
    padding-right: 18rem;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-size: 22.6px;
=======
    position: relative;
    top: 125px;
    left: 10px;
    width: 30rem;
    color: aliceblue;
    font-family: 'Inter', sans-serif;

>>>>>>> d905d6b3fcdf0b15c5afb54cbd4a0c3a88c86d69
}

.linkcredit {
    position: absolute;
<<<<<<< HEAD
    top: 16.5rem;
=======
    top: 17rem;
>>>>>>> d905d6b3fcdf0b15c5afb54cbd4a0c3a88c86d69
    left: 20px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

/* -------- */

.judulsk2 {
    position: absolute;
<<<<<<< HEAD
    top: 35px;
    right: 180px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
=======
    top: 40px;
    right: 180px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
>>>>>>> d905d6b3fcdf0b15c5afb54cbd4a0c3a88c86d69
}

.desk2 {
    position: absolute;
<<<<<<< HEAD
    top: 115px;
=======
    top: 125px;
>>>>>>> d905d6b3fcdf0b15c5afb54cbd4a0c3a88c86d69
    right: 20px;
    width: 30rem;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
<<<<<<< HEAD
    font-size: 22.6px;
=======
>>>>>>> d905d6b3fcdf0b15c5afb54cbd4a0c3a88c86d69
}

/* ------- */

.futerakhir {
    position: relative;
    top: 20rem;
    background-color: #FFE8B6; 
    width: 100%;
    height: 50px;
}

.futerakhir h2 {
<<<<<<< HEAD
    position: absolute;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 100%;
    top: 5px;
=======
    position: flex;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 100%;
    top: -9px;
>>>>>>> d905d6b3fcdf0b15c5afb54cbd4a0c3a88c86d69
    color: #505050;
}

.foodbg {
    position: relative;
    width: 100%;
    top: 25rem;
}

<<<<<<< HEAD
=======
/* .tesinput:focus ~ .search-icon {
    opacity: 0;
} */

>>>>>>> d905d6b3fcdf0b15c5afb54cbd4a0c3a88c86d69

